.import{
    font-weight: bold;
    font-size: xx-large;
}
.blue{
    color: blue;
}
.container{
    width: 100%;;
    float: none;
    margin-top: 10px;
}
.right_right{
    background-color: aqua;
    width: 10%;
    float: right;
    height: 100px;
}
.left{
    background-color: black;
    width: 10%;
    height: 100px;
    float: left;
}

.right{
    background-color: antiquewhite;
    width:10%;
    margin:auto;
    float: none;
    height: 100px;
    left:0;
    top:0;
    right:0;
    bottom: 0;
}
