.import{
    font-weight: bold;
    font-size: xx-large;
}
.blue{
    color: blue;
}
.container{
    width: 100%;;
    float: none;
    margin-top: 10px;
}
.right{
    background-color: antiquewhite;
    width:10%;
    float: left;
    height: 100px;

}
.left{
    background-color: black;
    width: 10%;
    height: 100px;
    float: left;
}
.right_right{
    float: left;
    background-color: aqua;
    width: 10%;
    height: 100px;
}