.import{
    font-weight: bold;
    font-size: xx-large;
}
.blue{
    color: blue;
}
.container{
    width: 100%;;
    float: none;
    margin-top: 10px;
}
.right_right{
    background-color: aqua;
    width: 10%;
    float: right;
    height: 100px;
}
.left{
    background-color: black;
    width: 10%;
    height: 100px;
    float: left;
}

.right{
    background-color: antiquewhite;
    width:10%;
    margin:auto;
    float: none;
    height: 100px;
    left:0;
    top:0;
    right:0;
    bottom: 0;
}
.topbar{
    background-color: slateblue;
    width: 100dppx;
    height: 100px;
    padding-top:99px;
    margin-top: 10px;
}
#tab1{
    background-color: aqua;
    float: left;

    height: 20px;
    width: 70px;
}

#tab2{
    background-color: aqua;
    height: 20px;
    margin-left: 10px;
    width: 70px;
    float: left;

}
#tab3{
    background-color: aqua;
    height: 20px;
    width: 70px;
    float: left;
    margin-left: 10px;
}

.topbar_content{
    height: 20px;
    width: 77%;
    margin-top: 60px;
    background-color: saddlebrown;
    padding: 10px;
    text-align:center;
    margin-left: 111px;
}
